
/* variables */

$bgcolor: #2F3137;
$fontcolor: #F2EFE9;
$menucolor: #188FA7;

@font-face {
  font-family: "Open Sans";
  src:
    url("../font/OpenSans-Regular.ttf") format("truetype"),
    url("../font/OpenSans-Bold.ttf") format("truetype"),
    url("../font/OpenSans-Italic.ttf") format("truetype"),
    url("../font/OpenSans-Medium.ttf") format("truetype");
}

body {
  margin: 150px 250px;
  background-color: $bgcolor;
}

p{
  font-family: "Open Sans", sans-serif;
  color: $fontcolor;
  font-weight: normal;
  line-height:25px;
}

.student{
  @extend p;
  font-weight: lighter;
  font-size: medium;
  margin: 10px;
}

header {
  background-color: $fontcolor;
}

ul.menu {
  @extend p;
  list-style: none;
  display: flex;
}

li.menu {
  margin-right: 15px;
}

button{
  @extend p;
  border: none;
  text-decoration: none;
  color: $bgcolor;
  background-color: $fontcolor;
  transition-duration: 0.5s;

  &:hover{
    color: $fontcolor;
    background-color: $bgcolor;
  }
}

h1{
  @extend p;
  font-size: 2em;
  font-weight: bold;
}